/*DESKTO33*/

.Desktop{
    position: relative;
  width: 1920px;
  height: 1080px;
  
  background: #FFFFFF;
  }
  
  /* 로고 어떤 대스크*/
  .logo{
  position: absolute;
  width: 413px;
  height: 126px;
  left: 819px;
  top: 204px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 73px;
  
  color: #A26D07;
  
  }
  
  
  .findID{
    position: absolute;
    width: 239px;
    height: 75px;
    left: 401px;
    top: 70px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    
    color: #000000;
  
  }
  
  
  .findPW{
    
  
    position: absolute;
    width: 231px;
    height: 75px;
    left: 83px;
    top: 70px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    
    color: #000000;
  }
  
  
  /* 상단바 */
  .topbar {
    position: absolute;
    width: 413px;
    height: 126px;
    left: 819px;
    top: 204px;
  }
  
 
  
  /* 완료 Line 13 ---위에 갈색 라*/
  .line13 {
    position: absolute;
    width: 1898.02px;
    height: 0px;
    left: 11px;
    top: 133px;
    border: 1px solid #A26D07;
  }
  
  /* 완료 겉에 감싸는 갈색 박스 Rectangle 103 */
  .Rectangle103{
    box-sizing: border-box;
    position: absolute;
    width: 1000px;
    height: 518px;
    left: 455px;
    top: 342px;
    border: 1px solid #A26D07;
   }
    
    
/* 회원님의 아이디는 yujin****입니다. */
.notice{
    position: absolute;
width: 970px;
height: 43px;
left: 567px;
top: 558px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 54px;

color: #000000;

}



  
 
  
 