.modalOverlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: auto; 
    padding-top:80px;
  }
  
  .modal {
    width: 90vw; 
    max-width: 600px; 
    max-height: 90vh; 
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .modal img {
    width: 100%;
    height: auto; 
    max-width: 100%;
    max-height: 100%;
  }
  
  .modalOverlay.active {
    opacity: 1;
  }
  
  .modal.active {
    opacity: 1;
    transform: scale(1);
  }
  