/* Desktop - 22 */
.Desktop{
  position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
}

/* 로고 어떤 대스크*/
.logo{
position: absolute;
width: 413px;
height: 126px;
left: 819px;
top: 204px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 73px;

color: #A26D07;

}


/* 글씨 아이디 찾기 */
.findID{
position: absolute;
width: 231px;
height: 75px;
left: 83px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 48px;

color: #000000;

}


.findPW{
position: absolute;
width: 239px;
height: 75px;
left: 401px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 48px;

color: #000000;

}


/* 상단바 */
.topbar {
  position: absolute;
  width: 413px;
  height: 126px;
  left: 819px;
  top: 204px;
}

/* Rectangle 103 */
.Rectangle103 {

box-sizing: border-box;

position: absolute;
width: 1042px;
height: 518px;
left: 495px;
top: 342px;

border: 1px solid #A26D07;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* 아이디 찾기 */
.idFinder {
  position: absolute;
  width: 231px;
  height: 75px;
  left: 83px;
  top: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 48px;
  color: #000000;
}



/* 완료 Line 13 ---위에 갈색 라*/
.line13 {
  position: absolute;
  width: 1898.02px;
  height: 0px;
  left: 11px;
  top: 133px;
  border: 1px solid #A26D07;
}

/* 완료 겉에 감싸는 갈색 박스 Rectangle 103 */
.Rectangle103{
  box-sizing: border-box;
  position: absolute;
  width: 1000px;
  height: 518px;
  left: 455px;
  top: 342px;
  
  border: 1px solid #A26D07;
 }
  
  
/* 완료 닉네임에 등록된 이메일 입력해주세요 */
.registeredEmail {
  position: absolute;
  width: 654px;
  height: 54px;
  left: 567px;
  top: 409px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  color: #000000;
}

/* 완료 닉네임 */
.nickname {
  position: absolute;
  width: 158px;
  height: 76px;
  left: 561px;
  top: 513px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 48px;
  color: #000000;
}

/* 완료 이메일 주소 */
.emailAddress {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 557px;
  top: 622px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 48px;
  color: #000000;
}

/* 완료 Rectangle 105 --닉네임 회색 박스 */
.Rectangle105 {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 59px;
  left: 730px;
  top: 513px;
  border: 1px solid #A3A3A9;
}

.inputfield105{
  width: 600px;
  height: 59px;
  left: 730px;
  top: 513px;
  background: #F3F3F3;

}

/*  완료 Rectangle 106 - 이메일 회색 박스*/
.Rectangle106 {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 59px;
  left: 730px;
  top: 622px;
  border: 1px solid #A3A3A9;
}

.inputfield106{
  width: 600px;
  height: 59px;
  left: 730px;
  top: 622px;
  background: #F3F3F3;

}
